# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
# *.exe
*.out
*.app


# CodeBlock
*.layout
*.depend
obj/
video/
.cache/
compile_commands.json
version.cpp
temp.version.cpp

#bin/.ini
bin/Release/*
!bin/Release/*.ini
bin/Debug/*
!bin/Debug/*.ini
*.mcap
*.xlsx
*.pyc
*.mat
*csv
*npz
*avi
*jpg
*jpeg
*txt
*json
dist/
build/

